<footer>
    <br>
    <div class="f-info">

        <div class="f-info-socials">
            <a target="_blank" href="https://twitter.com/hero_nitesh20"><i class="fa-brands fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/developer_nitesh12/"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/nitesh-maddeshiya-36774725b/"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="f-info-brand">
           &copy; Nitesh Maddeshiya
        </div>

        <div class="f-info-links">
            <a href="/privacy" class="m-1">Privacy </a>
            <a href="/terms"> Terms</a>
        </div>

    </div>
</footer>