<% layout("/layouts/boilerPlate.ejs") %>

<div class="row m-5">
    <div style="text-align: center;" >
        <h1>
            "Embark on a comprehensive full-stack web development learning project, 
            <br>mastering front-end technologies like HTML, CSS, JavaScript and <br>
             back-end scripting with Node.js, <br>
            culminating in the creation of a fully functional web application.
        </h1>
      </div>
</div>