body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 4.5rem;
    background-color: white;
}

.fa-compass{
    color: #4c4c6c;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    display: flex;
    height: 7rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.f-info-socials,.f-info-links,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands{
    font-size: 1.2rem;
    margin-right: 1rem ;
    color: #222222;
}

/* cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 0.7rem !important;
    width: 100% !important;
    height: 18rem !important ; 
    object-fit: cover !important;
}

.card-body{
    padding: 0%;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.listing-link:hover {
    opacity: 0.90;
    background: white;
}

/* new page  */

.add-btn{
    background-color: #4c4c6c !important;
    border: none !important;
}

/* edit page */

.edit-btn{
    background-color: #4c4c6c !important;
    border: none !important;
    border: 1px solid #4c4c6c !important;
}

/* show page */

.show-img{
    width: 100% !important;
    height: 18rem !important ; 
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for map */

#map{
    height: 18rem;
    width:64vw;
    border: 1px solid rgb(211, 197, 197);
}

@media (max-width: 575.98px) { 
    .nav-explore{
        display: none !important;
    }
}

/* index.ejs */

#filters{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
#filters a{
    color: rgba(0, 0, 0, 0.793);
    text-decoration: none;
}
.filter{
    text-align: center;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}
.filter p{
    font-size: 0.8rem
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.tax-info{
    display: none;
}
.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
}

.flash{
    text-align: center;
}